<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout}">

<body th:fragment="content">
    <div class="card mt-2">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title"><i class="fa-solid fa-users"></i> Listagem de pessoas</h5>
            <a class="btn btn-outline-success" href="/pessoa/create"><i class="fa-solid fa-circle-plus"></i> Add</a>
        </div>
        <div class="card-body">
            <table id="minha-tabela" class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pessoa : ${pessoas}">
                        <td th:text="${pessoa.id}"></td>
                        <td th:text="${pessoa.nome}"></td>
                        <td>
                            <div class="brn-group">
                                <a class="btn btn-light" th:href="@{/pessoa/update/{id}(id=${pessoa.id})}"><i
                                        class="fa-regular fa-pen-to-square"></i> Update</a>
                                <a class="btn btn-light" th:href="@{/pessoa/remover/{id}(id=${pessoa.id})}"><i
                                        class="fa-regular fa-trash-can"></i> Delete</a>
                                <a class="btn btn-light" th:href="@{/pessoa/visualizar/{id}(id=${pessoa.id})}"><i
                                        class="fa-solid fa-magnifying-glass"></i> To View</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#minha-tabela").DataTable();
        });
    </script>
</body>

</html>